.story {
   width: 75%;
   background-color: rgba($color-white, 0.5);
   margin: 0 auto;
   padding: 6rem;
   padding-left: 9rem;
   border-radius: 0.3rem;
   box-shadow: 0 3rem 6rem rgba($color-black, $alpha: 0.2);
   font-size: $default-font-size;
   transform: skewx(-12deg);

   & > * {
      transform: skewx(12deg);
      @include respond(tab-port) {
         transform: skewx(0deg);
      }
   }

   @include respond(tab-port) {
      transform: skewx(0deg);
      width: 100%;
      padding: 4rem;
      padding-left: 7rem;
   }
   &__shape {
      float: left;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      // transform: translateX(-3rem);
      position: relative;
      left: -3rem;
      overflow: hidden;
   }

   &__img {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      backface-visibility: hidden;
      transition: transform 0.2s;
   }
   &__caption {
      position: absolute;
      z-index: 1;
      color: $color-white;
      text-transform: uppercase;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);
      text-align: center;
      opacity: 0;
      transition: all 0.2s;
      backface-visibility: hidden;
   }

   &:hover &__caption {
      transform: translate(-50%, -50%);

      opacity: 1;
   }

   &:hover &__img {
      transform: translateX(-4rem) scale(1);
      filter: blur(2px);
   }
}
